<div id="madden_teams_css">


<h1>Teams</h1>

<div class="conference">
	<div class="panel panel-default">
		<div class="panel-heading">AFC East</div>
		<ul class="list-group">
			<li class="list-group-item"><%= link_to "Buffalo Bills", "/madden/bills" %></li>
			<li class="list-group-item"><%= link_to "Miami Dolphins", "/madden/dolphins" %></li>
			<li class="list-group-item"><%= link_to "New England Patriots", "/madden/patriots" %></li>
			<li class="list-group-item"><%= link_to "New York Jets", "/madden/jets" %></li>
		</ul>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">AFC West</div>
		<ul class="list-group">
			<li class="list-group-item"><%= link_to "Denver Broncos", "/madden/broncos" %></li>
			<li class="list-group-item"><%= link_to "Kansas City Chiefs", "/madden/chiefs" %></li>
			<li class="list-group-item"><%= link_to "Oakland Raiders", "/madden/raiders" %></li>
			<li class="list-group-item"><%= link_to "San Diego Chargers", "/madden/chargers" %></li>
		</ul>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">AFC North</div>
		<ul class="list-group">
			<li class="list-group-item"><%= link_to "Baltimore Ravens", "/madden/ravens" %></li>
			<li class="list-group-item"><%= link_to "Cincinnati Bengals", "/madden/bengals" %></li>
			<li class="list-group-item"><%= link_to "Cleveland Browns", "/madden/browns" %></li>
			<li class="list-group-item"><%= link_to "Pittsburgh Steelers", "/madden/steelers" %></li>
		</ul>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">AFC South</div>
		<ul class="list-group">
			<li class="list-group-item"><%= link_to "Houston Texans", "/madden/texans" %></li>
			<li class="list-group-item"><%= link_to "Indianapolis Colts", "/madden/colts" %></li>
			<li class="list-group-item"><%= link_to "Jacksonville Jaguars", "/madden/jaguars" %></li>
			<li class="list-group-item"><%= link_to "Tennessee Titans", "/madden/titans" %></li>
		</ul>
	</div>
</div>

<div class="conference">
	<div class="panel panel-default">
		<div class="panel-heading">NFC East</div>
		<ul class="list-group">
			<li class="list-group-item"><%= link_to "Dallas Cowboys", "/madden/cowboys" %></li>
			<li class="list-group-item"><%= link_to "New York Giants", "/madden/giants" %></li>
			<li class="list-group-item"><%= link_to "Philidephia Eagles", "/madden/eagles" %></li>
			<li class="list-group-item"><%= link_to "Washington Redskins", "/madden/redskins" %></li>
		</ul>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">NFC West</div>
		<ul class="list-group">
			<li class="list-group-item"><%= link_to "Arizona Cardinals", "/madden/cardinals" %></li>
			<li class="list-group-item"><%= link_to "San Francisco 49ers", "/madden/49ers" %></li>
			<li class="list-group-item"><%= link_to "Seattle Seahawks", "/madden/seahawks" %></li>
			<li class="list-group-item"><%= link_to "St. Louis Rams", "/madden/rams" %></li>
		</ul>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">NFC North</div>
		<ul class="list-group">
			<li class="list-group-item"><%= link_to "Chicago Bears", "/madden/bears" %></li>
			<li class="list-group-item"><%= link_to "Detroit Lions", "/madden/lions" %></li>
			<li class="list-group-item"><%= link_to "Green Bay Packers", "/madden/packers" %></li>
			<li class="list-group-item"><%= link_to "Minnesota Vikings", "/madden/vikings" %></li>
		</ul>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">NFC South</div>
		<ul class="list-group">
			<li class="list-group-item"><%= link_to "Atlanta Falcons", "/madden/falcons" %></li>
			<li class="list-group-item"><%= link_to "Carolina Panthers", "/madden/panthers" %></li>
			<li class="list-group-item"><%= link_to "New Orleans Saints", "/madden/saints" %></li>
			<li class="list-group-item"><%= link_to "Tampa Bay Buccaneers", "/madden/buccaneers" %></li>
		</ul>
	</div>
</div>


</div>