<!DOCTYPE html>
<html>
<head>
  <title>SportsSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
	<%= link_to '<span class="glyphicon glyphicon-home"></span>'.html_safe, root_path, class: 'navbar-brand' %>
	<ul class="nav navbar-nav">
		<li class="dropdown">
			<%= link_to "Teams<span class='caret'></span>".html_safe, '#', class: 'dropdown-toggle', "data-toggle" => 'dropdown' %>
			<ul class="dropdown-menu" role="menu" style="width: 300px;">
				<div style="float: left; width: 150px;">
					<li role="presentation" class="dropdown-header">Atlantic</li>
					<li><%= link_to 'Celtics', '/team/celtics' %></li>
					<li><%= link_to 'Nets', '/team/nets' %></li>
					<li><%= link_to 'Knicks', '/team/knicks' %></li>
					<li><%= link_to '76ers', '/team/76ers' %></li>
					<li><%= link_to 'Raptors', '/team/raptors' %></li>
					<li role="presentation" class="divider"></li>
					<li role="presentation" class="dropdown-header">Central</li>
					<li><%= link_to 'Bulls', '/team/bulls' %></li>
					<li><%= link_to 'Cavaliers', '/team/cavaliers' %></li>
					<li><%= link_to 'Pistons', '/team/pistons' %></li>
					<li><%= link_to 'Pacers', '/team/pacers' %></li>
					<li><%= link_to 'Bucks', '/team/bucks' %></li>
					<li role="presentation" class="divider"></li>
					<li role="presentation" class="dropdown-header">Southeast</li>
					<li><%= link_to 'Hawks', '/team/hawks' %></li>
					<li><%= link_to 'Hornets', '/team/hornets' %></li>
					<li><%= link_to 'Heat', '/team/heat' %></li>
					<li><%= link_to 'Magic', '/team/magic' %></li>
					<li><%= link_to 'Wizards', '/team/wizards' %></li>
					<li role="presentation" class="divider"></li>
				</div>
				<div style="float: left; clear: right;">
					<li role="presentation" class="dropdown-header">Pacific</li>
					<li><%= link_to 'Warriors', '/team/warriors' %></li>
					<li><%= link_to 'Clippers', '/team/clippers' %></li>
					<li><%= link_to 'Lakers', '/team/lakers' %></li>
					<li><%= link_to 'Suns', '/team/suns' %></li>
					<li><%= link_to 'Kings', '/team/kings' %></li>
					<li role="presentation" class="divider"></li>
					<li role="presentation" class="dropdown-header">Southwest</li>
					<li><%= link_to 'Mavericks', '/team/mavericks' %></li>
					<li><%= link_to 'Rockets', '/team/rockets' %></li>
					<li><%= link_to 'Grizzlies', '/team/grizzlies' %></li>
					<li><%= link_to 'Pelicans', '/team/pelicans' %></li>
					<li><%= link_to 'Spurs', '/team/spurs' %></li>
					<li role="presentation" class="divider"></li>
					<li role="presentation" class="dropdown-header">Northwest</li>
					<li><%= link_to 'Nuggets', '/team/nuggets' %></li>
					<li><%= link_to 'Timberwolves', '/team/timberwolves' %></li>
					<li><%= link_to 'Thunder', '/team/thunder' %></li>
					<li><%= link_to 'Trailblazers', '/team/trailblazers' %></li>
					<li><%= link_to 'Jazz', '/team/jazz' %></li>
				</div>
			</ul>
		</li>
		<li><%= link_to 'Player Rankings', '/static_pages/player_rankings' %></li>
		<li><%= link_to 'Contracts', '/static_pages/contracts' %></li>
		<li><%= link_to 'Madden Player Ratings', '/static_pages/madden' %></li>
	</ul>
	
	<%= form_tag '/static_pages/search', method: 'get', class: 'navbar-form navbar-right' do %>
	  <div class="form-group">
	  	<%= search_field_tag :search, params[:search], class: 'form-control', placeholder: 'player search' %>
	  </div>
	  <%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
	<% end %>
</nav>

<div class="container-fluid">
	<%= yield %>
</div>

</body>
</html>
